<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
  <bean id="bankaccount" class="autowiring_xml.BankAccount">
 <property name="accountId" value="4653767778676"></property>
  <property name="accountHolderName" value="Pooja"></property>
  <property name="accountType" value="Savings"></property>
   <property name="accountBalance" value="30000"></property>
  </bean>   
    
 <bean id="bankcontroller" class="autowiring_xml.BankAccountController">
  <property name="acc" ref="banckaccount"></property>
  
  </bean>  
   

 


        
        
</beans>